*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
 
 }
 
 .hero{
     background-color: #297f54;
     overflow: hidden;
 }
 
 .heading{
     align-items: center;
     justify-content: center;
   
 }
 
 .heading h1{
     font-size: 50px;
     color:#fff;
     text-align: center;
     margin-top: 10px;
 }
 
 .line{
     align-items: center;
     justify-content: center;
     
 
 }
 
 .line div{
     margin: 0 0.2rem;
 }
 .line div:nth-child(1),
 .line div:nth-child(3){
     height: 3px;
     width: 100px;
     background: #fff;
     border-radius: 5px;
 }
 .line{
     display: flex;
     align-items: center;
 }
 .line div:nth-child(2){
     width: 10px;
     height: 10px;
     background: #fff;
     border-radius: 50%;
 }
 
 
 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 90%;
     margin: 65px auto;
       
 }
 .hero-content span {
 
     color: #fff;
 }
 
 .hero-content{
     flex: 1;
     width: 600px;
     margin:0px 25px;
     
 }
 
 .hero-content h2{
     font-size: 38px;
     margin-bottom: 20px;
     color: #fff;
 
 }
 .hero-content h2 head {
 
     color: #109545;
 }
 
 .hero-content p{
     font-size: 20px;
     line-height: 1.2;
     margin-bottom: 40px;
     color:#fff;
 }
 
 .hero-content button {
     display: inline-block;
     background-color:#fff;
     color: black;
     padding:12px 24px ;
     border-radius: 50px;
     font-size: 20px;
     border: none;
     cursor: pointer;
     transition:0.3s ease ;
 }
 
 .hero-content button:hover{
     background-color:red ;
     transform : scale(1.1);
 }
 
 .hero-image img {
     flex: 1;
     width: 500px;
     margin: auto;
     margin-left: 80px;
 }
 
 img{
     width: 10%;
     height: auto;
     border-radius: 10px;
 }
 
 @media screen  and (max-width:768px)     {
     .heading h1 {
         font-size: 36px;
         margin-top: 26px;
 
     }
 
     .hero{
         margin: 0px;
     }
     
     .container{
         width: 100%;
         flex-direction: column;
         margin: 0px;
         padding: 0px 40px;
     }
 
     .hero-content{
         width: 100%;
         margin: 35px 0px;
     }
 
     .hero-content h2{
         font-size: 30px;
     }
     .hero-content p {
         font-size: 16px;
         margin-bottom:20px ;
     }
 
     .hero-content button {
       font-size: 15px;
       padding: 8px 16px;
     } 
     .hero-image img{
         width: 100%;
         margin: auto;
     }
 
 }
 
 @media screen  and (max-width:768px) {
 
 
 }
 

 <!--------------------------------------------------------------------------------->
 
 .who h2 {
     align-items: center;
     justify-content: center;
     display: flex;
     font-size: 50px
 }
 
 
 .mvc{
 
     background-color:#fff;
 }
 
 .mvv-container {
     padding: 0;
     margin: 0;
     max-width: 90%;
     margin: 50px auto 0;
 }
 
 .mvv-container .mvv-block{
     margin-bottom: 50px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 
 .mvv-container .mvv-block .image {
 
     flex: 0 0 auto;
     width: 400px;
     overflow:hidden;
     border-radius: 5px;
     box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
     line-height: 0;
 }
 
 .mvv-container .mvv-block .image img{
 
     width: 100%;
     transition: 1s;
     transform:scale(1) ;
 }
 
 .mvv-container .mvv-block .image:hover img{
 
     transform: scale(1.05);
 }
 
 
 
 .mvv-container .mvv-block .content {
     
     flex: 0 0 auto;
     width:calc(100% - 400px) ;
     box-sizing: border-box;
     align-self: center;
 }
 
 .mvv-container .mvv-block .content h5 {
     font-weight: 700;
     font-size: 50px;
     color: green;
     margin-bottom: 10px;
 }
 
 .mvv-container .mvv-block .content p {
 
     font-size: 20px;
 
 }
 
 @media screen  and (max-width: 768px) {
 
 
     .mvv-container .mvv-block:nth-child(odd) .image{
         order: 1;
     }
 
     .mvv-container .mvv-block:nth-child(even) .image{
         order: 2;
     }
 
     .mvv-container .mvv-block:nth-child(odd) .content{
         order: 2;
         padding-left: 30px;
     }
 
     .mvv-container .mvv-block:nth-child(even) .content{
         order: 1;
         padding-right: 30px;
     }
     
     
 }
 
 
 
 @media screen  and (min-width: 1024px) {
 
     .mvv-container .mvv-block:nth-child(odd) .image{
         order: 1;
     }
 
     .mvv-container .mvv-block:nth-child(even) .image{
         order: 2;
     }
 
     .mvv-container .mvv-block:nth-child(odd) .content{
         order: 2;
         padding-left: 30px;
     }
 
     .mvv-container .mvv-block:nth-child(even) .content{
         order: 1;
         padding-right: 30px;
     }
     
     
 }
 
 
<!-------------------------------------------------------------------------->
 
 .row{
 
     display: flex;
     flex-wrap: wrap;
     padding: 2em 1em;
     text-align: center;
 }
 
  .column{
     width: 100%;
     padding:1em 2em ;
 }
 
 .zero h1 {
     width: 100%;
     text-align: center;
     font-size: 50px;
     color: black;
 
 }
 
 .card{
     width: 85%;
     height: 61vh;
     box-shadow: 6px 6px 3px;
     padding: 1em 1em;
     border-radius: 2.8rem;
     color:grey;
     cursor: pointer;
     transition: 0.3s;
     background-color: #297f54;
     border: 3px solid black;
 }
 
 .card .img-container{
     width: 12em;
     height: 12em;
     background-color: #fff;
     padding: 0.3em;
     border-radius: 50%;
     margin: -1em auto 2em auto;
    
 }
 
 .card img {
    width: 100%;
    height: 11.4em;
    border-radius: 50%;
 }
 
 .card h3 {
     font-weight: 500;
     color: #fff;
     font-size: 25px;
 
 }
 
 .card p {
     font-weight: 300;
     text-transform: uppercase;
     margin: 0.5em 0 2em 0;
     letter-spacing: 2px;
     color: #fff;
 
 }
 
 
 .icons {
     width: 50%;
     min-width: 180px;
     margin: auto;
     display: flex;
     justify-content: space-between;
 }
 
 .card a{
     text-decoration: none;
     color: white;
     font-size: 1.4em;
 }
 
 .card:hover{
     background: linear-gradient( black , black );
     color: #ffffff;
 }
 
 .card:hover .img-container{
     transform: scale(1.15);
 }
 
 
 @media screen and (min-width: 768px){
     section  {
         padding: 1em 2em;
     }
 
   
 }
 
 
 @media screen and (min-width: 992px){
     section {
         padding: 1em 7em;
     }
     
     .card{
         padding: 5em 1em;
     }
 
     .column{
         flex: 0 0 33.33%;
         max-width: 33.33%;
         padding: 1em 1em;
     }
 }
 
 