.navbarItems{
    display: flex;
    background-color:#fff ;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 9999;
    font-family: 'Times New Roman', Times, serif;
}

i{
    width: 40px;
    size: 5rem;
}

.navbar-logo{
    color: #297f54;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 9px;
    font-weight: 700;
}

.nav-img{
    width: 90px;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 50px;
    list-style: none;
    align-items: center;
    font-size: 22px;
    margin-top: 15px;
}

button{
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    background:#297f54;
    cursor: pointer;
}

.nav-links{
    text-decoration: none;
    color: #297f54;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
}

.nav-links:hover{
    background-color: #297f54;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}


.menu-icons{
    display:none;
}

.what{
    font-size: 2.8rem;
    margin-right: 70px;
    color: #3fa34d;
}

.what:hover{
    color:black;
    cursor: pointer;
}

@media screen and (max-width: 850px){
   .navbarItems{
    z-index: 99;
   }
   .nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: white;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 88px 0 30px 0;
    margin: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-radius: 13px;
    } 

    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }

    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
        text-align: center;
    }

    .nav-links:hover{
        background: #297f54;
        transition: none;
    }

    .menu-icons{
        display: block;
        cursor: pointer;
    }

    .menu-icons i{
        font-size: 1.2rem;
        color: #222;
    }
}